<div class="formcenter">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{ profileService.ChangingProfile[state.LangID]}}
            </mat-card-title>
        </mat-card-header>
        <form (ngSubmit)="SubmitProfileForm()" [formGroup]="profileForm">
            <mat-error>* {{ profileService.required[state.LangID] }}</mat-error>
            <input type="hidden" name="ProfileContactID" formControlName="ContactID">
            <mat-card-content>
                <div class="center">
                    <mat-form-field>
                        <mat-label>{{ profileService.LoginEmail[state.LangID] }}</mat-label>
                        <input matInput name="ProfileLoginEmail" type="email" placeholder="john@gmail.com" formControlName="LoginEmail">
                        <mat-error *ngIf="GetHasError('LoginEmail')">{{GetErrorMessage("LoginEmail")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ profileService.FirstName[state.LangID] }}</mat-label>
                        <input matInput name="ProfileFirstName" placeholder="john" formControlName="FirstName">
                        <mat-error *ngIf="GetHasError('FirstName')">{{GetErrorMessage("FirstName")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ profileService.Initial[state.LangID] }}</mat-label>
                        <input matInput name="ProfileInitial" placeholder="j" formControlName="Initial">
                        <mat-error *ngIf="GetHasError('Initial')">{{GetErrorMessage("Initial")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ profileService.LastName[state.LangID] }}</mat-label>
                        <input matInput name="ProfileLastName" placeholder="Doe" formControlName="LastName">
                        <mat-error *ngIf="GetHasError('LastName')">{{GetErrorMessage("LastName")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ profileService.PlayerLevel[state.LangID] }}</mat-label>
                        <input matInput name="ProfilePlayerLevel" type="number" step="0.1" max="5" min="1" formControlName="PlayerLevel">
                        <mat-error *ngIf="GetHasError('PlayerLevel')">{{GetErrorMessage("PlayerLevel")}}</mat-error>
                    </mat-form-field>
                    <mat-error *ngIf="profileService.Error?.error">
                        <h3 *ngFor="let e of profileService.Error?.error?.ErrList">{{ e }}</h3>
                    </mat-error>
                    <br>
                    <button mat-raised-button *ngIf="GetFormValid()">{{ profileService.UpdateProfile[state.LangID]
                        }}</button>
                    <button mat-raised-button disabled="disabled" *ngIf="!GetFormValid()">{{
                        profileService.PleaseEnterRequiredInformation[state.LangID] }}</button>

                    <div *ngIf="profileService.profileSuccess">
                        <h2>{{ profileService.Success[state.LangID] }}</h2>
                    </div>
                    <br><br>
                    <button mat-button routerLink="/{{ state.Culture }}/home">
                        <mat-icon>home</mat-icon>
                        {{ profileService.ReturnHome[state.LangID] }}
                    </button>
                    <br>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>