/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h2 {color: indigo}

.formcenter{
    display: flex;
    justify-content: center;
    min-width: 320px;
  }

  .mat-form-field {
      width: 300px !important;
  }