<div class="formcenter">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ registerService.CreateAccount[state.LangID]}}
            </mat-card-title>
        </mat-card-header>
        <form (ngSubmit)="SubmitRegisterForm()" [formGroup]="registerForm">
            <mat-error>* {{ registerService.required[state.LangID] }}</mat-error>
            <mat-card-content>
                <div class="center">
                    <mat-form-field>
                        <mat-label>{{ registerService.LoginEmail[state.LangID] }}</mat-label>
                        <input matInput name="RegisterLoginEmail" type="email" placeholder="john@gmail.com" formControlName="LoginEmail">
                        <mat-error *ngIf="GetHasError('LoginEmail')">{{GetErrorMessage("LoginEmail")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ registerService.FirstName[state.LangID] }}</mat-label>
                        <input matInput name="RegisterFirstName" placeholder="john" formControlName="FirstName">
                        <mat-error *ngIf="GetHasError('FirstName')">{{GetErrorMessage("FirstName")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ registerService.Initial[state.LangID] }}</mat-label>
                        <input matInput name="RegisterInitial" placeholder="j" formControlName="Initial">
                        <mat-error *ngIf="GetHasError('Initial')">{{GetErrorMessage("Initial")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ registerService.LastName[state.LangID] }}</mat-label>
                        <input matInput name="RegisterLastName" placeholder="Doe" formControlName="LastName">
                        <mat-error *ngIf="GetHasError('LastName')">{{GetErrorMessage("LastName")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ registerService.Password[state.LangID] }}</mat-label>
                        <input matInput name="RegisterPassword" type="password" formControlName="Password">
                        <mat-error *ngIf="GetHasError('Password')">{{GetErrorMessage("Password")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ registerService.ConfirmPassword[state.LangID] }}</mat-label>
                        <input matInput name="RegisterConfirmPassword" type="password" formControlName="ConfirmPassword">
                        <mat-error *ngIf="GetHasError('ConfirmPassword')">{{GetErrorMessage("ConfirmPassword")}}
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ registerService.PlayerLevel[state.LangID] }}</mat-label>
                        <input matInput name="RegisterPlayerLevel" type="number" step="0.1" max="5" min="1" formControlName="PlayerLevel">
                        <mat-error *ngIf="GetHasError('PlayerLevel')">{{GetErrorMessage("PlayerLevel")}}</mat-error>
                    </mat-form-field>
                    <p>&nbsp;</p>
                    <mat-error *ngIf="registerService.Error?.error">
                        <h3 *ngFor="let e of registerService.Error?.error?.ErrList">{{ e }}</h3>
                    </mat-error>
                    <button mat-raised-button *ngIf="GetFormValid()">{{ registerService.CreateAccount[state.LangID]
                        }}</button>
                    <button mat-raised-button disabled="disabled" *ngIf="!GetFormValid()">{{
                        registerService.PleaseEnterRequiredInformation[state.LangID] }}</button>
                    <p>&nbsp;</p>
                    <button mat-button routerLink="/{{ state.Culture }}/login">
                        <mat-icon>login</mat-icon>
                        {{ registerService.ReturnToLogin[state.LangID] }}
                    </button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>
