<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="formcenter" *ngIf="!state.LeagueStatsModelList?.length">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>{{ pageNotFoundService.PageNotFound[state.LangID] }}</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>&nbsp;</p>
            <div class="center">
                <button mat-button routerLink="/{{ state.Culture}}/home">{{ pageNotFoundService.ReturnHome[state.LangID]
                    }}</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>