<mat-tab-group [selectedIndex]="state.DemoVisible ? state.DemoHomeTabIndex : state.HomeTabIndex"
    (selectedTabChange)="TabSelectedChanged($event)" mat-align-tabs="start">
    <mat-tab label="{{ homeService.Home[state.LangID] }}">
        <div class="div-container">
            <div>
                <p>&nbsp;</p>
                <button mat-button *ngIf="!state.DemoVisible" (click)="ShowDemo()">
                    {{ shellService.ShowDemo[state.LangID] }}
                </button>
                <button mat-button *ngIf="state.DemoVisible" (click)="HideDemo()">
                    {{ shellService.HideDemo[state.LangID] }}
                </button>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>

            <div *ngIf="!(state.DemoVisible ? state.DemoUser?.ContactID : state.User?.ContactID)">
                <button mat-button routerLink="/{{ state.Culture }}/login">
                    <mat-icon>login</mat-icon>
                    {{ shellService.Login[state.LangID] }}
                </button>
                <button mat-button routerLink="/{{ state.Culture }}/register">
                    <mat-icon>person_add</mat-icon>
                    {{ shellService.Register[state.LangID] }}
                </button>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>

            <div *ngIf="(state.DemoVisible ? state.DemoUser?.ContactID : state.User?.ContactID)">

                <div>
                    <h2>{{ homeService.AnalyseResultsFrom[state.LangID] }}</h2>
                    <button mat-raised-button [ngClass]="GetDataTimeHighlight('day')" (click)="Period('day')">
                        {{ homeService.Day[state.LangID] }}
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button mat-raised-button [ngClass]="GetDataTimeHighlight('week')" (click)="Period('week')">
                        {{ homeService.LastWeek[state.LangID] }}
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button mat-raised-button [ngClass]="GetDataTimeHighlight('month')" (click)="Period('month')">
                        {{ homeService.LastMonth[state.LangID] }}
                    </button>
                    <br><br>
                    <button mat-raised-button [ngClass]="GetDataTimeHighlight('year')" (click)="Period('year')">
                        {{ homeService.LastYear[state.LangID] }}
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button mat-raised-button [ngClass]="GetDataTimeHighlight('all')" (click)="Period('all')">
                        {{ homeService.All[state.LangID] }}
                    </button>
                </div>
                <div>
                    <br><br>
                    <h3 [ngClass]="GetDataTimeHighlight('between')">
                        <span (click)="pickerStart.open()">
                            <mat-icon>calendar_today</mat-icon>
                            <input style="opacity: 0; height: 1px !important; width: 1px !important" #startDate
                                (dateChange)="ChangedStartDate(startDate)" [matDatepicker]="pickerStart">
                            <mat-datepicker #pickerStart></mat-datepicker>
                            {{ state.StartDate | date: 'yyyy/MM/dd' }}
                        </span>
                        <span> --- </span>
                        <span (click)="pickerEnd.open()">
                            {{ state.EndDate | date: 'yyyy/MM/dd' }}
                            <input style="opacity: 0; height: 1px !important; width: 1px !important" #endDate
                                (dateChange)="ChangedEndDate(endDate)" [matDatepicker]="pickerEnd">
                            <mat-datepicker #pickerEnd></mat-datepicker>
                            <mat-icon>calendar_today</mat-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </mat-tab>
    <mat-tab *ngIf="(state.DemoVisible ? state.DemoUser.ContactID : state.User.ContactID)"
        label="{{ homeService.Leagues[state.LangID] }}">
        <app-league></app-league>
    </mat-tab>
    <mat-tab *ngIf="(state.DemoVisible ? state.DemoUser.ContactID : state.User.ContactID)"
        label="{{ homeService.Results[state.LangID] }}">
        <div class="div-container">
            <app-table-league-stats></app-table-league-stats>
        </div>
    </mat-tab>
    <mat-tab *ngIf="(state.DemoVisible ? state.DemoUser.ContactID : state.User.ContactID)"
        label="{{ homeService.Games[state.LangID] }}">
        <div class="div-container">
            <app-table-player-games></app-table-player-games>
        </div>
    </mat-tab>
    <mat-tab *ngIf="(state.DemoVisible ? state.DemoUser.ContactID : state.User.ContactID)" label="Json">
        <div class="div-container">
            <p *ngIf="state.DemoVisible">
                Demo Start Date: {{ state.DemoStartDate | json }}
            </p>
            <p *ngIf="!state.DemoVisible">
                Start Date: {{ state.StartDate | json }}
            </p>
            <p *ngIf="state.DemoVisible">
                Demo End Date: {{ state.DemoEndDate | json }}
            </p>
            <p *ngIf="!state.DemoVisible">
                End Date: {{ state.EndDate | json }}
            </p>
            <p *ngIf="state.DemoVisible">
                Demo User: {{ state.DemoUser | json }}
            </p>
            <p *ngIf="!state.DemoVisible">
                User: {{ state.User | json }}
            </p>
            <p *ngIf="state.DemoVisible">
                Demo LeagueID: {{ state.DemoLeagueID | json }}
            </p>
            <p *ngIf="!state.DemoVisible">
                LeagueID: {{ state.LeagueID | json }}
            </p>
            <!-- <p>
                LeagueStatsModel: {{ state.LeagueStatsModelList | json }}
            </p>
            <p>
                PlayerGameModel: {{ state.PlayerGameModelList | json }}
            </p> -->
            <p>
                LeagueList: {{ state.LeagueList | json }}
            </p>
            <!-- <p>
                PlayerList: {{ state.PlayerList | json }}
            </p>
            <p>
                LeagueContactList: {{ state.LeagueContactList | json }}
            </p>
            <p>
                GameList: {{ state.GameList | json }}
            </p> -->

        </div>
    </mat-tab>
</mat-tab-group>