<div class="formcenter" *ngIf="!forgotPasswordService.forgotPasswordSuccess">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{
                forgotPasswordService.SendInYourEmailAndACodeWillBeSentToYouToChangeYourPassword[state.LangID] }}
            </mat-card-title>
        </mat-card-header>

        <form (ngSubmit)="OnSubmit()" [formGroup]="forgotPasswordForm">
            <mat-card-content>
                <mat-form-field>
                    <mat-label>{{ forgotPasswordService.LoginEmail[state.LangID] }}</mat-label>
                    <input matInput type="email" placeholder="john@gmail.com" formControlName="LoginEmail">
                    <mat-error *ngIf="GetHasError('LoginEmail')">{{GetErrorMessage("LoginEmail")}}</mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-error>* {{ forgotPasswordService.required[state.LangID] }}</mat-error>
            <br><br>
            <a routerLink="/{{ state.Culture }}/home">{{ forgotPasswordService.GoToHome[state.LangID] }}</a>
            <br><br>
            <a routerLink="/{{ state.Culture }}/login">{{ forgotPasswordService.GoToLogin[state.LangID] }}</a>
            <br><br>
            <a routerLink="/{{ state.Culture }}/register">{{ forgotPasswordService.GoToCreateAccount[state.LangID]
                }}</a>
            <br><br>
            <mat-error *ngIf="forgotPasswordService.Error?.error">
                <h3 *ngFor="let e of forgotPasswordService.Error?.error?.ErrList">{{ e }}</h3>
            </mat-error>
      
            <button mat-raised-button *ngIf="GetFormValid()">{{ forgotPasswordService.SendMeTheCode[state.LangID]
                }}</button>
            <button mat-raised-button disabled="disabled" *ngIf="!GetFormValid()">{{
                forgotPasswordService.Please_enter_required_information[state.LangID] }}</button>
        </form>
    </mat-card>
</div>

<div class="formcenter" *ngIf="forgotPasswordService.forgotPasswordSuccess">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3 class="success">{{ forgotPasswordService.YourRequestForACodeWasSuccessful[state.LangID] }}</h3>
            </mat-card-title>
        </mat-card-header>

        <h3 class="success">{{ forgotPasswordService.AnEmailWillBeSentTo[state.LangID] }}:&nbsp;
            {{ this.forgotPasswordForm.controls["LoginEmail"].value }} </h3>
        <p><strong>{{ forgotPasswordService.Note[state.LangID] }}:</strong></p>
        <p>{{ forgotPasswordService.AtThisTimeYourCodeWillBeSentByTheAdministrator[state.LangID] }}.</p>
        <p>{{ forgotPasswordService.PleaseBePatientAsItCouldTakeAFewHoursOrDays[state.LangID] }}.</p>
        <p>{{ forgotPasswordService.InTheFutureAllTheseRequestsWillBeDoneAutomatically[state.LangID] }}</p>
        <p>{{ forgotPasswordService.allowingYouToReceiveYourCodeWithoutDelay[state.LangID] }}.</p>

        <br><br>
        <a mat-raised-button routerLink="/{{ state.Culture }}/home">{{
            forgotPasswordService.ReturnToHomePage[state.LangID] }}</a>
    </mat-card>
</div>