<mat-tab-group [selectedIndex]="state.ProgressTabsIndex" (selectedTabChange)="ProgressTabSelectedChanged($event)"
    mat-align-tabs="start">
    <mat-tab label="Charts">
        <div class="div-container">
            <app-chart-games-played>
            </app-chart-games-played>
            <app-chart-points>
            </app-chart-points>
            <app-chart-games-won>
            </app-chart-games-won>
            <app-chart-games-percent-won>
            </app-chart-games-percent-won>
            <app-chart-total-number-of-partners>
            </app-chart-total-number-of-partners>
            <app-chart-total-number-of-opponents>
            </app-chart-total-number-of-opponents>
            <app-chart-average-player-level-of-partners>                
            </app-chart-average-player-level-of-partners>
            <app-chart-average-player-level-of-opponents>                
            </app-chart-average-player-level-of-opponents>
        </div>
    </mat-tab>
    <mat-tab label="Leaders">
        <div class="div-container">
            <app-table-league-stats></app-table-league-stats>
        </div>
    </mat-tab>
    <mat-tab label="Games">
        <div class="div-container">
            <app-table-player-games></app-table-player-games>
        </div>
    </mat-tab>
    <mat-tab label="Head to Head">
        <div class="div-container">
            <h2 class="center">To do</h2>
            <app-table-player-head-to-head *ngIf="false"></app-table-player-head-to-head>
        </div>
    </mat-tab>
</mat-tab-group>