<div *ngIf="!state.LeagueList.length">
    <app-no-data-for-user></app-no-data-for-user>
</div>
<div *ngIf="state.LeagueList.length">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <span *ngFor="let league of state.LeagueList">
                <span *ngIf="GetIsSelected(league.LeagueID)">
                    {{ league.LeagueName }}
                </span>
            </span>
        </mat-expansion-panel-header>
        <div class="center">
            <div *ngFor="let league of state.LeagueList">
                <mat-radio-button class="radio-button" [checked]="GetIsSelected(league.LeagueID)"
                    (click)="SetLeagueID(league.LeagueID)">
                    {{ league.LeagueName }}
                </mat-radio-button>
            </div>
            <br><br>
            <button mat-raised-button (click)="AddANewLeague()">{{ leagueService.AddANewLeague[state.LangID]}}</button>
            <br><br>
            <button mat-raised-button (click)="ModifyTheLeague()">{{
                leagueService.ModifyTheLeague[state.LangID]}}</button>
        </div>
    </mat-expansion-panel>
    <app-league-tabs></app-league-tabs>
</div>