<app-no-data-for-user></app-no-data-for-user>
<div *ngIf="state.PlayerGameModelList?.length">
    <br>
    <h2>{{ GetLoggedInPlayerFullName() }}&nbsp;&nbsp;(<span class="highlight">{{ tablePlayerGamesService.GamesWon[state.LangID] }}</span>)</h2>
    <table mat-table [dataSource]="state.PlayerGameModelList" class="mat-elevation-z8">

        <ng-container matColumnDef="Rank">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item; let j = index">{{j+1}}</td>
        </ng-container>

        <ng-container matColumnDef="Partner">
            <th mat-header-cell [ngClass]="GetSortingClass('Partner')" *matHeaderCellDef
                (click)="DoSortPlayerGames('Partner')">{{ tablePlayerGamesService.Partner[state.LangID] }}
            </th>
            <td mat-cell *matCellDef="let item">
                <span *ngIf="state.Screen == 'Small'">{{item?.PartnerLastNameAndFirstNameInit}}</span>
                <span *ngIf="state.Screen != 'Small'">{{item?.PartnerFullName}}</span>
        </ng-container>

        <ng-container matColumnDef="Opponents">
            <th mat-header-cell [ngClass]="GetSortingClass('Opponents')" *matHeaderCellDef
                (click)="DoSortPlayerGames('Opponents')">{{ tablePlayerGamesService.Opponents[state.LangID] }}
            </th>
            <td mat-cell *matCellDef="let item">
                <span *ngIf="state.Screen != 'Large'">
                    {{item?.Opponent1LastNameAndFirstNameInit}}
                    <br>
                    {{item?.Opponent2LastNameAndFirstNameInit}}
                </span>
                <span *ngIf="state.Screen == 'Large'">
                    {{item?.Opponent1FullName}}
                    <br>
                    {{item?.Opponent2FullName}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="GameDate">
            <th mat-header-cell [ngClass]="GetSortingClass('GameDate')" *matHeaderCellDef
                (click)="DoSortPlayerGames('GameDate')">{{ tablePlayerGamesService.GameDate[state.LangID] }}
            </th>
            <td mat-cell *matCellDef="let item">{{ dataHelperService.GetDateFormat(item?.GameDate)}}</td>
        </ng-container>

        <ng-container matColumnDef="Scores">
            <th mat-header-cell [ngClass]="GetSortingClass('Scores')" *matHeaderCellDef
                (click)="DoSortPlayerGames('Scores')">{{ tablePlayerGamesService.Scores[state.LangID] }}
            </th>
            <td mat-cell *matCellDef="let item">
                {{item?.Scores}} - {{item?.OpponentScores}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let item"
        [ngClass]="{ 'highlight': item.Scores > item.OpponentScores }"></tr>
    </table>
</div>