.highlight{
  background-color: #ccffcc !important;
}

.sortedAsc {
  font-weight: bold;
}

.sortedDesc {
  font-weight: bold;
  font-style: italic;
}

div {
  width: 100%;
}

table {
  width: 100%;
}

.mat-cell {
  font-size: smaller !important;
}

th.mat-header-cell {
  text-align: center !important;
}
/*
span {
background-color: lightblue;
border: 2px solid gray;
border-radius: 30px;
padding: 5px;
}
*/