<mat-toolbar>
    <a mat-button [matMenuTriggerFor]="LeftShellMenu">
        <mat-icon>more_vert</mat-icon>
    </a>
    <mat-menu #LeftShellMenu="matMenu">
        <div>
            <button mat-menu-item>
                Left one
            </button>
            <button mat-menu-item>
                Left two
            </button>
            <button mat-menu-item>
                Left three
            </button>
        </div>
    </mat-menu>

    <button mat-button routerLink="/{{ state.Culture }}/" mat-button>
        <mat-icon>home</mat-icon> {{ shellService.ApplicationName[state.LangID] }}
    </button>
    <span class="example-spacer"></span>

    <span *ngIf="state.Contact.ContactID">
        <a mat-button [matMenuTriggerFor]="ProfileShellMenu">
            <mat-icon>elderly</mat-icon> {{ GetFirstLetters(state.Contact.FirstName, 1) }} {{
            GetFirstLetters(state.Contact.LastName, 1) }}
        </a>
        <mat-menu #ProfileShellMenu="matMenu">
            <div>
                <button mat-menu-item routerLink="/{{ state.Culture }}/profile">
                    {{ shellService.ChangeProfile[state.LangID] }}
                </button>
                <button mat-menu-item (click)="Logoff()">
                    {{ shellService.Logoff[state.LangID] }}
                </button>
            </div>
        </mat-menu>

    </span>
    <span *ngIf="!state.Contact.ContactID">
        <button mat-menu-item routerLink="/{{ state.Culture }}/login">
            {{ shellService.Login[state.LangID] }}
        </button>
    </span>
    
    <button mat-button routerLink="/en-CA{{GetLastPartOfUrl()}}" *ngIf="state.Language != languageEnum.en">
        {{ GetFirstLetters(shellService.English[state.LangID], 2) }}
    </button>
    <button mat-button routerLink="/fr-CA{{GetLastPartOfUrl()}}" *ngIf="state.Language != languageEnum.fr">
        {{ GetFirstLetters(shellService.Francais[state.LangID], 2) }}
    </button>

    <span>
        <a mat-button [matMenuTriggerFor]="RightShellMenu">
            <mat-icon>more_vert</mat-icon>
        </a>
        <mat-menu #RightShellMenu="matMenu">
            <div>
                <button mat-menu-item>
                    Right one
                </button>
                <button mat-menu-item>
                    Right two
                </button>
                <button mat-menu-item>
                    Right three
                </button>
            </div>
        </mat-menu>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>

<hr>
<mat-toolbar class="footer">
    <span>{{ year | json }} - {{ shellService.ApplicationName[state.LangID] }}
    </span>
</mat-toolbar>