<mat-toolbar>
    <a mat-button [matMenuTriggerFor]="LeftShellMenu">
        <mat-icon>more_vert</mat-icon>
    </a>
    <mat-menu #LeftShellMenu="matMenu">
        <div>
            <button mat-menu-item>
                Left one
            </button>
            <button mat-menu-item>
                Left two
            </button>
            <button mat-menu-item>
                Left three
            </button>
        </div>
    </mat-menu>

    <a mat-button routerLink="/{{ state.Culture }}/" mat-button>
        <mat-icon>home</mat-icon> {{ shellService.ShellApplicationName[state.LangID] }}
    </a>
    <span class="example-spacer"></span>

    <a mat-button *ngIf="state.Contact.ContactID" routerLink="/{{ state.Culture }}/profile"
        mat-button>
        <mat-icon>elderly</mat-icon> {{ state.Contact.FirstName }} {{ state.Contact?.LastName }}
    </a>
    <a mat-button routerLink="/en-CA{{getLastPartOfUrl()}}" *ngIf="state.Language != languageEnum.en">
        {{ shellService.English[state.LangID] }}
    </a>
    <a mat-button routerLink="/fr-CA{{getLastPartOfUrl()}}" *ngIf="state.Language != languageEnum.fr">
        {{ shellService.Francais[state.LangID] }}
    </a>

    <span>
        <a mat-button [matMenuTriggerFor]="RightShellMenu">
            <mat-icon>more_vert</mat-icon>
        </a>
        <mat-menu #RightShellMenu="matMenu">
            <div>
                <button mat-menu-item>
                    Right one
                </button>
                <button mat-menu-item>
                    Right two
                </button>
                <button mat-menu-item>
                    Right three
                </button>
            </div>
        </mat-menu>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>

<hr>
<mat-toolbar class="footer">
    <span>{{ year | json }} - {{ shellService.ShellApplicationName[state.LangID] }}
    </span>
</mat-toolbar>