<div class="formcenter" *ngIf="!changePasswordService.changePasswordSuccess">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{
                changePasswordService.ChangeYourPasswordUsingTheTemporaryCode[state.LangID] }}
            </mat-card-title>
        </mat-card-header>
        <form (ngSubmit)="SubmitChangePasswordForm()" [formGroup]="changePasswordForm">
            <mat-error>* {{ changePasswordService.required[state.LangID] }}</mat-error>
            <mat-card-content>
                <div class="center">
                    <mat-form-field>
                        <mat-label>{{ changePasswordService.LoginEmail[state.LangID] }}</mat-label>
                        <input matInput name="ChangePasswordLoginEmail" type="email" placeholder="john@gmail.com"
                            formControlName="LoginEmail">
                        <mat-error *ngIf="GetHasError('LoginEmail')">{{GetErrorMessage("LoginEmail")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ changePasswordService.NewPassword[state.LangID] }}</mat-label>
                        <input matInput name="ChangePasswordNewPassword" type="password"
                            placeholder="{{ changePasswordService.NewPassword[state.LangID] }}"
                            formControlName="Password">
                        <mat-error *ngIf="GetHasError('Password')">{{GetErrorMessage("Password")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>{{ changePasswordService.TemporaryCode[state.LangID] }}</mat-label>
                        <input matInput name="ChangePasswordTempCode" type="text"
                            placeholder="{{ changePasswordService.TemporaryCode[state.LangID] }}"
                            formControlName="TempCode">
                        <mat-error *ngIf="GetHasError('TempCode')">{{GetErrorMessage("TempCode")}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-error *ngIf="changePasswordService.Error?.error">
                        <h3 *ngFor="let e of changePasswordService.Error?.error?.ErrList">{{ e }}</h3>
                        <br>
                    </mat-error>
                    <br>
                    <button mat-raised-button *ngIf="GetFormValid()">{{
                        changePasswordService.ChangePasswordTxt[state.LangID]
                        }}</button>
                    <button mat-raised-button disabled="disabled" *ngIf="!GetFormValid()">{{
                        changePasswordService.Please_enter_required_information[state.LangID] }}</button>
                    <br><br>
                    <button mat-button routerLink="/{{ state.Culture }}/home">
                        <mat-icon>home</mat-icon>&nbsp;
                        {{ changePasswordService.ReturnHome[state.LangID] }}
                    </button>
                    <br>
                    <button mat-button routerLink="/{{ state.Culture }}/login">
                        <mat-icon>login</mat-icon>&nbsp;
                        {{ changePasswordService.ReturnToLogin[state.LangID] }}
                    </button>
                    <br>
                    <button mat-button routerLink="/{{ state.Culture }}/register">
                        <mat-icon>person_add</mat-icon>&nbsp;
                        {{ changePasswordService.ReturnToRegister[state.LangID] }}
                    </button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>

<div class="formcenter" *ngIf="changePasswordService.changePasswordSuccess">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3 class="success">{{ changePasswordService.YourPasswordChangeWasSuccessful[state.LangID] }}</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="center">
                <h3 class="success">{{ changePasswordService.YouCanNowLoginWithYourNewPassword[state.LangID] }} </h3>
                <br><br>
                <button mat-button routerLink="/{{ state.Culture }}/login">
                    <mat-icon>login</mat-icon>&nbsp;{{ changePasswordService.ReturnToLogin[state.LangID] }}
                </button>
                <br><br>
                <button mat-button routerLink="/{{ state.Culture }}/home">
                    <mat-icon>home</mat-icon>&nbsp;{{ changePasswordService.ReturnHome[state.LangID] }}
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>