<div class="div-container">
    <app-no-data-for-user></app-no-data-for-user>
    <div *ngIf="state.CurrentDatePlayerStatModelList?.length">
        <br>
        <h2 class="center">{{ GetCurrentLeagueName() }} {{ tableLeagueStatsService.stats[state.LangID]}}</h2>
        <p class="center">
            <button mat-button *ngIf="this.state.CurrentPlayerDateID > 0"
                (click)="SetCurrentStatDate(this.state.CurrentPlayerDateID - 1)">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <strong>
                {{ dataHelperService.GetDateFormat(GetCurrentStatDate()) }}</strong>
            <button mat-button *ngIf="this.state.CurrentPlayerDateID < this.state.DatePlayerStatModelList.length - 1"
                (click)="SetCurrentStatDate(this.state.CurrentPlayerDateID + 1)">
                <mat-icon>navigate_next</mat-icon>
            </button>
        </p>
        <table mat-table [dataSource]="state.CurrentDatePlayerStatModelList" class="mat-elevation-z8">

            <ng-container matColumnDef="Rank">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let item; let j = index"> {{j+1}} </td>
            </ng-container>

            <ng-container matColumnDef="FullName">
                <th mat-header-cell [ngClass]="GetSortingClass('FullName')" *matHeaderCellDef
                    (click)="DoSortLeagueStats('FullName')">{{ tableLeagueStatsService.Name[state.LangID] }}
                </th>
                <td mat-cell *matCellDef="let item">
                    <span *ngIf="state.Screen == 'Small'">{{ GetPlayerLastNameAndFirstNameInit(item?.PlayerID)
                        }}</span>
                    <span *ngIf="state.Screen != 'Small'">{{ GetPlayerFullName(item?.PlayerID) }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="GamesPlayed">
                <th mat-header-cell [ngClass]="GetSortingClass('GamesPlayed')" *matHeaderCellDef
                    (click)="DoSortLeagueStats('GamesPlayed')">{{ tableLeagueStatsService.Games[state.LangID] }}
                </th>
                <td mat-cell *matCellDef="let item"> {{item?.GamesPlayed}} </td>
            </ng-container>

            <ng-container matColumnDef="GamesWon">
                <th mat-header-cell [ngClass]="GetSortingClass('GamesWon')" *matHeaderCellDef
                    (click)="DoSortLeagueStats('GamesWon')">{{ tableLeagueStatsService.Wins[state.LangID] }}
                </th>
                <td mat-cell *matCellDef="let item"> {{item?.GamesWon}} </td>
            </ng-container>

            <ng-container matColumnDef="WinningPercentage">
                <th mat-header-cell [ngClass]="GetSortingClass('WinningPercentage')" *matHeaderCellDef
                    (click)="DoSortLeagueStats('WinningPercentage')">% {{ tableLeagueStatsService.Win[state.LangID] }}
                </th>
                <td mat-cell *matCellDef="let item">
                    <span *ngIf="state.LangID == 0">{{ (100*item?.GamesWon/item?.GamesPlayed) | number:'1.1-1':'en-CA'}}</span>
                    <span *ngIf="state.LangID == 1">{{ (100*item?.GamesWon/item?.GamesPlayed) | number:'1.1-1':'fr-CA'}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Points">
                <th mat-header-cell [ngClass]="GetSortingClass('Points')" *matHeaderCellDef
                    (click)="DoSortLeagueStats('Points')">{{ tableLeagueStatsService.Points[state.LangID] }}
                </th>
                <td mat-cell *matCellDef="let item">
                    <span *ngIf="state.LangID == 0">{{ item?.Points | number:'1.1-1':'en-CA'}}</span>
                    <span *ngIf="state.LangID == 1">{{ item?.Points | number:'1.1-1':'fr-CA'}}</span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let item"
                [ngClass]="{ 'highlight': item.PlayerID == (state.DemoVisible ? state.DemoUser.ContactID : state.User.ContactID) }">
            </tr>
        </table>
    </div>
</div>