<div class="formcenter" *ngIf="!leagueModifyService.LeagueModifySuccess">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ leagueModifyService.LeagueModifyTxt[state.LangID]}}
            </mat-card-title>
        </mat-card-header>

        <form (ngSubmit)="OnSubmit()" [formGroup]="leagueAddForm">
            <input matInput type="hidden" formControlName="LeagueID">
            <mat-card-content>
                <mat-form-field>
                    <mat-label>{{ leagueModifyService.LeagueName[state.LangID] }}</mat-label>
                    <input matInput type="text" placeholder="Name of league" formControlName="LeagueName">
                    <mat-error *ngIf="GetHasError('LeagueName')">{{GetErrorMessage("LeagueName")}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>{{ leagueModifyService.PointsToWinners[state.LangID] }}</mat-label>
                    <input matInput type="number" step="0.1" max="10" min="0"  placeholder="Points to winners" formControlName="PointsToWinners">
                    <mat-error *ngIf="GetHasError('PointsToWinners')">{{GetErrorMessage("PointsToWinners")}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>{{ leagueModifyService.PointsToLosers[state.LangID] }}</mat-label>
                    <input matInput type="number" step="0.1" max="10" min="0"  placeholder="Points to losers" formControlName="PointsToLosers">
                    <mat-error *ngIf="GetHasError('PointsToLosers')">{{GetErrorMessage("PointsToLosers")}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>{{ leagueModifyService.PlayerLevelFactor[state.LangID] }}</mat-label>
                    <input matInput type="number" step="0.1" max="10" min="0"  placeholder="Player level factor" formControlName="PlayerLevelFactor">
                    <mat-error *ngIf="GetHasError('PlayerLevelFactor')">{{GetErrorMessage("PlayerLevelFactor")}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>{{ leagueModifyService.PercentPointsFactor[state.LangID] }}</mat-label>
                    <input matInput type="number" step="0.1" max="10" min="0"  placeholder="Percent points factor" formControlName="PercentPointsFactor">
                    <mat-error *ngIf="GetHasError('PercentPointsFactor')">{{GetErrorMessage("PercentPointsFactor")}}</mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-error>* {{ leagueModifyService.required[state.LangID] }}</mat-error>
            <br><br>
            <a routerLink="/{{ state.Culture }}/home">{{ leagueModifyService.Cancel[state.LangID] }}</a>
            <br><br>
            <mat-error *ngIf="leagueModifyService.Error?.error">
                <h3 *ngFor="let e of leagueModifyService.Error?.error?.ErrList">{{ e }}</h3>
            </mat-error>
            <button mat-raised-button *ngIf="GetFormValid()">{{ leagueModifyService.LeagueModifyTxt[state.LangID] }}</button>
            <button mat-raised-button disabled="disabled" *ngIf="!GetFormValid()">{{
                leagueModifyService.PleaseEnterRequiredInformation[state.LangID] }}</button>

        </form>
    </mat-card>
</div>
<div class="formcenter" *ngIf="leagueModifyService.LeagueModifySuccess">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ leagueModifyService.LeagueModifySuccessful[state.LangID ?? languageEnum.en]}}
            </mat-card-title>
        </mat-card-header>
        <button mat-raised-button routerLink="/{{ state.Culture }}/home">{{ leagueModifyService.ReturnToHomePage[state.LangID] }}</button>
    </mat-card>
</div>
